.table-responsive {
    overflow-x: auto;
}

@media screen and (max-width: 768px) {
    .table-responsive {
        -webkit-overflow-scrolling: touch;
    }
}


.table-cell {
    border: 1px solid #000; /* Change the color as needed */
  }