.education-section {
    font-family: Arial, sans-serif;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .education-section h2 {
    margin-top: 0;
  }
  
  .education-form {
    margin-bottom: 20px;
  }
  
  .select-field,
  .input-edu-field {
    width: 75%;
    margin-bottom: 10px;
    padding: 8px;
    border: 3px solid #ccc;
    border-radius: 10px;
  }
  
  .add-button,
  .update-button {
    background-color: #2f3cb1;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    width: 100px;
  }
  
  .delete-button,
  .edit-button {
    background-color: #0e13b4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .delete-button {
    margin-right: 10px;
  }
  
  .education-details {
    border-top: 1px solid #ccc;
    padding-top: 20px;
  }
  
  .education-details h3 {
    margin-top: 0;
  }
  
  .education-details ul {
    list-style-type: none;
    padding: 0;
  }
  
  .education-details li {
    margin-bottom: 10px;
  }
  
  .header {
    font-weight: bold;
  }
  
  .header p {
    margin: 0;
  }
  
  @media screen and (min-width: 768px) {
    .education-form {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 10px;
    }
  
    .select-field {
      grid-column: span 2;
    }
  
    .input-field {
      grid-column: span 2;
    }
  
    .add-button,
    .update-button,
    .delete-button,
    .edit-button {
      width: 80px;
    }
  }
  

  

/* EducationSection.css */

/* Calendar styling */
.react-datepicker {
  font-family: Arial, sans-serif;
  width: 200px; /* Adjust the width as needed */
}

.react-datepicker__header {
  background-color: #ccc; /* Grey background */
  color: #333; /* Text color */
  border-bottom: none;
}

.react-datepicker__header--time-container {
  border-bottom: 1px solid #ddd;
}

.react-datepicker__day {
  color: #333;
  cursor: pointer; /* Change cursor to pointer */
  transition: background-color 0.3s ease; /* Smooth transition */
}

.react-datepicker__day--selected {
  background-color: #007bff;
  color: #fff;
}

.react-datepicker__day--selected:hover {
  background-color: #0056b3;
}

.react-datepicker__day--keyboard-selected {
  background-color: #007bff;
  color: #fff;
}

.react-datepicker__day--keyboard-selected:hover {
  background-color: #0056b3;
}

.react-datepicker__day:hover {
  background-color: #f0f0f0; /* Change background color on hover */
}

.react-datepicker__day--disabled {
  color: #ccc;
}

.react-datepicker__day--disabled:hover {
  background-color: transparent;
  cursor: not-allowed;
}
